
body{
    background-image: url(/images/roscoprollins3.png), linear-gradient(to right, #ece1cb, rgba(184, 147, 79, 0.918));
    background-size: 35%, 100%;
    background-repeat: no-repeat, no-repeat;
    background-position: cover, cover;
}

h1{
    margin-top: 5%;
    margin-left: 25%;
    font-size: 65px;
    color: #FFFFFF;
    text-shadow: 3px 3px 0 #007bff;
}

#story{
    color: white;
    font-size: 26px;
    margin-left: 45%;
    margin-top: 3%;
    margin-right: 5%;
    padding: 3%;
    background-color: #007bff;
    border: black 4px double;
    max-width: 800px;
    max-height: 600px;
}

