
body{
    background-image: url(/images/roscoprollins3.png), linear-gradient(to right, #ece1cb, rgba(184, 147, 79, 0.918));
    background-size: 40%, 100%;
    height: 400px, 400px;
    background-repeat: no-repeat, no-repeat;
    background-position: cover, cover;
}

h1{
    margin-top: 5%;
    margin-left: 23%;
    font-size: 59px;
    color: #007bff;
    text-shadow: 2px 2px 0 #000000;
}



.story{
    color: white;
    margin-top: 7%;
    padding: 3%;
    background-color: #007bff;
    border: black 4px double;
    max-width: 600px;
}

