

@media (min-width: 1199.98px) {

    body{
        background-image: url("/images/roscoprollins3.png");
        background-size: 38%;
        background-repeat: no-repeat;
        background-position: left center;
    }

    .story{
        color: white;
        font-size: 22px;
        padding: 4%;
        background-color: #007bff;
        border: black 4px double;
        margin-top: 6%;
    }
}

@media (min-width: 1400px) {

    body{
        background-image: url("/images/roscoprollins3.png");
        background-size: 30%;
        background-repeat: no-repeat;
        background-position: left center;
    }

    .story{
        color: white;
        font-size: 24px;
        padding: 4%;
        background-color: #007bff;
        border: black 4px double;
        margin-top: 6%;
    }
}

h1{
    margin-top: 3%;
    font-size: 65px;
    color: #007bff;
    text-shadow: 3px 3px 0 #1a1818;
    margin-bottom: 3%;
}



