body{
    background-color:#ffffff;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 1200px;
}

.jumbotron{
	background-image:radial-gradient( rgb(230, 229, 228), rgb(182, 144, 88));
	margin-top: 3%;
	border: 2px solid #007bff;
}

.display-4{
    text-align: right;
    padding: 0%;
    color: white;
    text-shadow: #000000 2px 2px;
}

p{
	font-size: 35px;
	font-family: 'Gamja Flower', cursive;
	color:#ffffff;
	text-shadow: 2px 2px 0 #007bff;
}

.img-thumbnail{
    height: 300px;
    position: fill;
    margin-top: 3%;
    border-color: #007bff;
}

.caption{
    text-align: center;
    text-shadow: 1px 1px 0 #000000;
    color: #007bff;
    margin-top: 4%;
    font-size: 18px;
}

.fas {
    color: #ffffff;
}